@charset "UTF-8";
/* CSS Document */

	body{
		background-color:#CBDBC5;
		margin:0 auto;
		width:960px;
	}
		#container{
			max-width:960px;
			height: 600px;
			margin: 0 auto;
			padding:32px;
		}
		header{
			height:150px;
			width:900px;
			background-color:white;
			
}
		nav{
			height:60px;
			background-color:#DCBAA1;
			
			}

		section{
			width:290px;
			height:550px;
}
			
		footer{
			display:table;
			background-color:#DCBAA1;
			text-align:center;
			width:900px;
			height:45px;
			font-family: 'Nunito', sans-serif;
}
			
.logo img {
  float: left;
}


.header{
	text-decoration:none;
	color:black;
	padding:0 10px 0 10px;
	line-height:32px
}

ul.header{
	margin-top:5px;
	float:left;
}

.header li{
	display:inline;
	padding: 0 10px 0 10px;
	
}

.header a{
	text-decoration:none;
	padding:8px;
	font-family: 'Nunito', sans-serif;
}

.header li {
  	float: left;
	display: table;
  	margin: 0 auto;
}


.button{
	background-color:#A7C3CF;
	border: none;
	font-size: 16px;
	margin-top:50px;
}

.button1{
	border-radius: 50px;
}

.button2{
	border-radius:50px;
}

.button3{
	border-radius: 50px;
}


.search{
	position:relative;
	left:380px;
	top:-25px
}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #F0F0F0;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px black;
}

input{
    position: absolute;
    background:#F0F0F0;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: black;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: #F0F0F0;
}


.button4{
	border-radius:50px;
}

.button5{
	border-radius:50px;
}

.button6{
	border-radius:50px;
}

.btn{
	background-color:#FFE0DE;
	border: none;
	font-size: 16px;
}

.main_menu{
	padding:10px 0 10px 0;
	text-align: center;
	line-height: 32px;
}

ul.main_menu{
	margin-top:15px;
}

.main_menu li{
	display:inline;
	padding: 0 10px 0 10px;
}

.main_menu a{
	text-decoration:none;
	color:black;
	padding:8px;
	font-family: 'Nunito', sans-serif;


}

.side-content{
	background-color:white;
	height:400px;
	width:330px;
	margin:10px;
	padding-left:200px;
	float:left;
}

.home-content{
	background-color:white;
	float:left;
	margin:10px;
	margin-left:40px;
	height:400px;
}

.home-box{
	background-color:#F0F0F0;
	float:left;
	height:370px;
	margin:10px
}

.tree-row{
	display:flex;
	position:relative;
	right:200px;
	width:500px;
	float:left;
}
.tree1{
	position:relative;
	width:5px;
	padding:5px;
}

.tree2{
	position:relative;
	left:250px;
	padding:5px;
}

.intro{
	font-size:20px;
	padding:50px;
	margin-top:25px;
	font-family: 'Muli', sans-serif;
}
.contact-header{
	background-color:white;
	position:relative;
	left:300px;
	width:590px;
	text-align:center;
	font-family: 'Muli', sans-serif;

}


.contact-wrapper{
	max-width:960px;
	display:flex;
	flex-wrap:wrap;
	height: 300px;
	margin: 0 auto;
	padding:10px;
}

.contact-content{
	background-color:white;
	position:relative;
	left:40px;
	width:590px;
	height:305px;
}

.contact-text{
	padding:10px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}

.contact-sidebar{
	background-color:white;
	position:relative;
	top:-70px;
	height:375px;
	width:250px;
}

.contact-imgs{
	display:table;
	padding:15px;
	position:relative;
	top:70px;
	left:70px;
}
.about-header{
	background-color:white;
	position:relative;
	margin:20px;
	width:860px;
}

.about-header h1{
	text-align:center;
	font-family: 'Muli', sans-serif;
}

.about-content{
	background-color:white;
	margin:20px;
	width:860px;
	height:200px;
}

.about-text{
	text-align:center;
	padding:20px;
	font-family: 'Montserrat', sans-serif;

}

#widget{
	text-align:center;
	text-decoration:none;
}

.updates-header{
	background-color:white;
	position:relative;
	margin:20px;
	width:860px;
}

.updates-header h1{
	text-align:center;
	font-family: 'Muli', sans-serif;
}

.updates-content{
	background-color:white;
	margin:20px;
	height:200px;
	width:860px;
}

.updates-text{
	text-align:center;
	padding:20px;
	font-family: 'Montserrat', sans-serif;
}

.guides-header{
	background-color:white;
	position:relative;
	left:300px;
	width:590px;
	text-align:center;
	font-family: 'Muli', sans-serif;
}

.guides-wrapper{
	max-width:960px;
	display:flex;
	flex-wrap:wrap;
	height: 300px;
	margin: 0 auto;
	padding:10px;
}

.guides-content{
	background-color:white;
	position:relative;
	left:40px;
	width:590px;
	height:305px;
}

.guides-text{
	padding:10px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}

.guides-sidebar{
	background-color:white;
	position:relative;
	top:-70px;
	height:375px;
	width:250px;
}

.guides-imgs{
	display:table;
	padding:5px;
	position:relative;
	left:10px
}

.custom-header{
	background-color:white;
	position:relative;
	margin:20px;
	width:860px;
}

.custom-header h1{
	text-align:center;
	font-family: 'Muli', sans-serif;
}

.custom-content{
	background-color:white;
	margin:20px;
	width:860px;
	height:350px;
}

.custom-text{
	text-align:center;
	padding:20px;
	font-family: 'Montserrat', sans-serif;

}

.custom-imgs{
	position:relative;
	padding:28px;
	
}

.votd-header{
	background-color:white;
	position:relative;
	left:300px;
	width:590px;
	text-align:center;
	font-family: 'Muli', sans-serif;

}

.votd-wrapper{
	max-width:960px;
	display:flex;
	flex-wrap:wrap;
	height: 300px;
	margin: 0 auto;
	padding:10px;
}

.votd-content{
	background-color:white;
	position:relative;
	left:40px;
	width:590px;
	height:305px;
}

.votd-text{
	padding:10px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}

.votd-sidebar{
	background-color:white;
	position:relative;
	top:-70px;
	height:375px;
	width:250px;
}

.votd-imgs{
	margin:10px;
	position:relative;
	left:10px;
	
}